/* CSS Document */
#con_left {}
#table_left {
	float:left;
	list-style: none;
	text-align:center;
	font-size:14px;
}

#con_right {}
#table_right{
	float:right;
	list-style: none;
	text-align:left;
	font-size:14px;
	border-left: 1px solid #3a3a3a;
        padding-left: 20px;
}

.table_right{
	float:right;
	list-style: none;
	text-align:left;
	font-size:14px;
	border-left: 1px solid #3a3a3a;
        padding-left: 20px;
}

#dslopmon{
    font-size: 14px;
    text-align: center;
}

.chose1{
    width: 200px;
    float: left;
}

.chose2{
    width: 180px;
    float: left;
}
.chose3{
    width: 100%;
}
.chose4{
    width: 100px;;
    float: right;
}
.chose5{
    width: auto;
    float: left;
}
.chose6{
    width: 150px;
    float: left;
}
#xeplich{
    width: 80px;
    float: right;
}

/* css xep lich*/

#thu{
    width: 120px;
    float: left;
}
#ca{
    width: 80px;
    float: left;
}
#phong{
    width: 100px;
    float: left;
}
#malm{
    width: 170px;
    float: left;
}
#tt{
    width: 150px;
    float: left;
}
#tiet{
    width: 200px;
    float: left
}
#sa{
    width: 50px;
    float: right;
}

.table{
    list-style: none;
    text-align:center;
    font-size:14px;
    border-style:hidden;
    width: 100%;
}

#suatkb{
    height: 80px;
}

/* lichthi */
#ngaythi{
    width: 230px;
    float: left
}

#giothi{
    width: 230px;
    float: left
}

#mail{
    width: 900px;
    height: auto;
    margin-left: 50px;
    margin-top: 20px;
}

#con_login{
    width: 100%;
    margin-top: 100px;
}

.login{
    width: 500px;
    height: auto;
}

#phantrang a{
    color: #000000;
    text-decoration: none;
}

#phantrang a:hover{
    color: #0089d9;
    text-decoration: none;

}